typings
dist
dist-test
bower_components
node_modules
.idea
.tmp
npm-debug.log
.DS_Store
.node-version
coverage
tmp
*.sublime-*
.tscache
.baseDir.js
.baseDir.ts
test/*.js
release
report.tap
version.jenkins
/types/
